docker_data/
terraform/
infra/docker_data/
postgres_data/
mongo_data/
venv/
.venv/
.git/
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.env
tests/
pytest.ini
.pytest_cache/
kubectl
minikube-linux-amd64
minikube
