
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-db
  namespace: default
spec:
  replicas: 1  
  selector:
    matchLabels:
      app: audiophile-redis
  template:
    metadata:
      labels:
        app: audiophile-redis
    spec:
      containers:
      - name: redis
        image: redis:alpine
        ports:
        - containerPort: 6379

---

apiVersion: v1
kind: Service
metadata:
  name: redis-service 
  namespace: default
spec:
  selector:
    app: audiophile-redis 
  ports:
    - protocol: TCP
      port: 6379      
      targetPort: 6379 
  type: ClusterIP 
